html,body {
  height: 100%;
}

html.no-scroll {
  overflow-y: hidden;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  font: normal normal 11px/1.6 $base;
  min-width: 320px;
  background: $white;
  text-align: left;
  color: $black;
  .negative & {
    background: #111;
  }
}

p {
  margin-bottom: 16px;
  &:last-child { margin: 0 }
  a { color: $focus }
}

.handle {
  cursor: move;
}

.madeby {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0, .8);
  text-decoration: none;
  padding: 1em 1.4em 1em 1.5em;
  font-weight: 400;
  z-index: 99;
  border-top-left-radius: 4px;
  color: darken($white, 10%);
  @media (-webkit-max-device-pixel-ratio: 1.5),
         (max-resolution: 120dpi) {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
  strong {
    font-weight: 700;
    color: $white;
  }
}

.d3 {
  margin: 0 auto .5em;
  width: 100px;
}

.svg-hover use {
  fill: #B3B3B3;
  stroke: #B3B3B3;
}
.svg-hover.deactive use {
  fill: #B3B3B3;
  stroke: #B3B3B3;
}
.svg-hover:hover use {
  fill: $focus;
  stroke: $focus;
  transition: all .3s ease;
  cursor: pointer;
}

.svg-hover.active use,
.active:hover {
  opacity: 1;
  stroke: $focus;
  fill: $focus;
}

.reset {
  display: none;
  position: absolute;
  top: 2px;
  right: 0;
}

.group-3d {
  position: relative;
  width: 100%;
}
