html,body {
  height: 100%;
}

html.no-scroll {
  overflow-y: hidden;
}

body {
  font: normal normal 11px/1.6 $base;
  background: $white;
  text-align: left;
  color: $black;
  .negative & {
    background: #111;
  }
}

.editor {
  position: absolute;
  text-align: center;
  top: 29%;
  z-index: 1;
  padding: 0 2%;
  width: auto;
  overflow: visible;
  left: 31.5%;
  .handle {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 80;
    width: 30px;
    height: 22px;
    opacity: 0.6;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    background: #efefef url(../images/move.svg) no-repeat 50% 50%;
    background-size: 16px 16px;
    &:hover {
      opacity: 1;
    }
    &:active {
      background-color: #ddd;
    }
  }
}

h1 {
  position: relative;
  overflow: visible;
  z-index: 70;
  width: auto;
  font-size: 20vw;
  line-height: 1.1;
  font-weight: 600;
  color: #111;
  transform-origin: 0 0;
  &:focus {
    outline: 0;
  }
  .negative & {
    color: $white;
  }
}

#controls {
  @extend %prevent-user-select;
  cursor: default;
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  width: 22em;
  z-index: 900;
  input[type="range"],
  input[type="checkbox"],
  input[type="reset"],
  select {
    cursor: pointer;
  }
  input[type="text"] {
    cursor: text;
  }
}

.group {
  overflow: hidden;
  padding: 0 16px 2em;
  > *:nth-child(1) {
    margin-top: 12px;
  }
}
h3, h2 {
  font-size: 11px;
  font-weight: normal;
  line-height: 1.4;
}

h3 {
  margin: 0;
  padding: 5px 0 0.4545454545em 20px;
  border-top: 1px solid #ccc;
  color: #444;
  font-weight: 600;
  position: relative;
  cursor: default;
  &:before {
    content: "";
    border-style: solid;
    border-color: #888 transparent transparent transparent;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 7px;
    position: absolute;
    top: 10px;
    width: 0;
  }
}

h3.closed:before {
  border-color: transparent transparent transparent #888;
  border-width: 4px 0 4px 5px;
  left: 9px;
  top: 9px;
}

h2 {
  text-align: center;
  margin:0;
  padding: 3px 0 2px 0;
  text-shadow: 0 1px rgba(255,255,255,0.5);
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  background-repeat: repeat-x;
}
input {
  font-size:100%;
  font-family:inherit;
  margin-right: 0.545454545454545em;
  margin-left: 0;
  &[disabled] {
    opacity: 0.5;
    cursor: default !important;
  }
  &[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    margin: 8px 0 15px;
    height: 3px;
    background: #B3B3B3;
    position: relative;
    &:focus,
    &:active {
      outline: 0;
    }
  }

  &[type="range"]::-moz-range-track {
    -moz-appearance: none;
    border: 0;
    height: 3px;
    background: #B3B3B3;
  }

  &[type='range']::-webkit-slider-thumb {
  	-webkit-appearance: none;
  	border-radius: 100%;
  	background: #fff;
    position: relative;
    border: 0;
    overflow: visible;
  	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  	height: 16px;
  	width: 16px;
  }

  &[type='range']::-moz-range-thumb {
  	-webkit-appearance: none;
  	border-radius: 100%;
  	background: #fff;
    position: relative;
    border: 0;
    overflow: visible;
  	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  	height: 16px;
  	width: 16px;
  }
  &[type="range"]:focus {
    outline: 0;
  }
  &[type="range"]:focus::-webkit-slider-thumb,
  &[type='range']::-webkit-slider-thumb:active {
    background: $focus;
  }

  &[type="range"]:focus::-moz-range-thumb,
  &[type='range']::-moz-range-thumb:active {
    background: $focus;
  }
}
output {
  margin: -17px 0 0;
  color: #aaa;
  float: right;
}
select {
  width: 100%;
}

input[type="text"] {
  width: 100%;
  background: $white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  padding: .7em .7em;
  float: left;
  margin: -1em 0 1.5em;
  &:focus {
    outline: 0;
    border: 1px solid $focus;
  }
}
label {
  float: left;
  width: 100%;
  margin: 0;
}
.handle {
  cursor: move;
}

.madeby {
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0, .8);
  text-decoration: none;
  padding: 1em 1.4em 1em 1.5em;
  font-weight: 400;
  z-index: 99;
  border-top-left-radius: 6px;
  color: darken($white, 10%);
  strong {
    font-weight: 700;
    color: $white;
  }
}

.d3 {
  margin: 0 auto .5em;
  width: 100px;
}

.svg-hover use {
  fill: #B3B3B3;
  stroke: #B3B3B3;
}
.svg-hover.deactive use {
  fill: #B3B3B3;
  stroke: #B3B3B3;
}
.svg-hover:hover use {
  fill: $focus;
  stroke: $focus;
  transition: all .3s ease;
  cursor: pointer;
}

.svg-hover.active use,
.active:hover {
  opacity: 1;
  stroke: $focus;
  fill: $focus;
}

.reset {
  display: none;
  position: absolute;
  top: 2px;
  right: 0;
}

.group-3d {
  position: relative;
  width: 100%;
}
