
/* HEADER
--------------------------------------------- */

header {
  @extend %prevent-user-select;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  min-width: 320px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 902;
  overflow: hidden;
  background-color: $focus;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.13);
  height: 60px;
  padding: 0 27px 0 30px;
  color: $white;
  @media (-webkit-max-device-pixel-ratio: 1.5),
         (max-resolution: 120dpi) {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
  .logo {
    width: 124px;
    height: 20px;
    margin: 21px 0 0;
    float: left;
    &:hover {
      cursor: pointer;
    }
  }
  ul {
    float: left;
    list-style: none;
    margin-left: 20px;
    @media (max-width: 650px) {
      display: none;
    }
  }
  li {
    float: left;
  }
  a {
    transition: background .2s ease;
    float: left;
    line-height: 60px;
    font-size: 14px;
    padding: 0 1.25em;
    text-decoration: none;
    color: $white;
    &.func--save {
      position: relative;
      svg {
        display: none;
      }
    }
    &:hover {
      background: rgba($black, .1);
    }
    &:active {
      background: rgba($black, .2);
    }
    &.func--disabled {
      cursor: default;
      pointer-events: none;
      opacity: .5;
    }
    &.func--save__savingend {
      padding-left: 38px;
      cursor: default;
      background: rgba($black, .2);
      &:after {
        content: "";
        background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiBoZWlnaHQ9IjE3IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIxNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTkgMTYuMTdMNC44MyAxMmwtMS40MiAxLjQxTDkgMTkgMjEgN2wtMS40MS0xLjQxeiIvPjwvc3ZnPg0K') no-repeat;
        display: block !important;
        width: 17px;
        height: 17px;
        top: 21px;
        left: 17px;
        position: absolute;
      }
    }
    &.func--save__saving {
      &:after {
        background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNiAxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNOCwyIEMxMS4zMSwyIDE0LDQuNjkgMTQsOCBDMTQsOS4wMSAxMy43NSw5Ljk3IDEzLjMsMTAuOCBMMTQuNzYsMTIuMjYgQzE1LjU0LDExLjAzIDE2LDkuNTcgMTYsOCBDMTYsMy41OCAxMi40MiwtOC44ODE3ODQyZS0xNiA4LC04Ljg4MTc4NDJlLTE2IEw4LDIgWiBNMiw4IEMyLDYuOTkgMi4yNSw2LjAzIDIuNyw1LjIgTDEuMjQsMy43NCBDMC40Niw0Ljk3IDAsNi40MyAwLDggQzAsMTIuNDIgMy41OCwxNiA4LDE2IEw4LDE0IEM0LjY5LDE0IDIsMTEuMzEgMiw4IFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgsOCkgc2NhbGUoLTEsMSkgdHJhbnNsYXRlKC04LC04KSI+PC9wYXRoPjwvZz48L3N2Zz4NCg==') no-repeat;
        -webkit-animation: spin 1s linear infinite;
        -moz-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        left: 18px;
        top: 23px;
        width: 13px;
        height: 13px;
      }
    }
  }
  .twitter {
    float: right;
    transition: all .2s ease;
    border: 1px solid rgba($white, .3);
    border-radius: 3px;
    margin-top: 11px;
    line-height: 33px;
    padding: 0 14px 2px 12px;
    &:hover {
      border: 1px solid transparent;
      background: rgba($black, .3);
    }
    &:focus {
      border: 1px solid transparent;
      background: rgba($black, .2);
    }
    &:active {
      background: rgba($black, .4);
    }
    svg {
      margin: 0 6px -1px 0;
      width: 12px;
      height: 12px;
      display: inline;
    }
  }
}
