@charset "utf-8";


/* HELPERS
--------------------------------------------- */

$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

%prevent-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

%tabular-numbers {
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}


/* MEDIA QUERIES
--------------------------------------------- */

@mixin breakpoint($media) {
  @if $media == highres {
    @media (min-width: em(860)) and (-webkit-min-device-pixel-ratio: 1.25),
           (min-width: em(860)) and (-o-min-device-pixel-ratio: 5/4),
           (min-width: em(860)) and (min-resolution: 120dpi) { @content; }
  }
}


/* COLORS
--------------------------------------------- */

$black      :   #222;
$white      :   #fff;
$yellow     :   #fefac1;
$focus      :   #419bf9;


/* TYPEFACES
--------------------------------------------- */

$base       :   -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;


/* STYLES
--------------------------------------------- */

@import "reset";
@import "animation";
@import "base";
@import "inspector";
@import "editor";
@import "mobile";
@import "fonts";
@import "select2";
@import "header";
