.tiny-devices {
  background: $white;
  font: normal 400 14px/1.5 $base;
  color: lighten($black, 20%);
  padding: 90px 30px;
  @media (min-width: 601px) {
    display: none;
  }
  p {
    margin-bottom: 1.4em;
  }
}
