
.select2-results__options li {
	padding:1px !important;
}
.select2-results__options li div {
	background: url("../images/fonts.gif") !important;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -999px;
	height: 29px;
}
.select2-container {
	text-align: left !important;
	width: 100% !important;
}
