/* HELPERS
--------------------------------------------- */
#controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

/* MEDIA QUERIES
--------------------------------------------- */
/* COLORS
--------------------------------------------- */
/* TYPEFACES
--------------------------------------------- */
/* STYLES
--------------------------------------------- */
/* RESET
--------------------------------------------- */
html, body, div, span, h1, h2, h3, h4, p, blockquote, pre,
a, code, img, svg, small, strike, strong, sub, sup,
b, u, i, ol, ul, li, form, label, table, caption,
tbody, tfoot, thead, tr, th, td, main, article,
aside, canvas, input, footer, header, nav,
section, time, video {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%; }

img, svg {
  max-width: 100%;
  display: block;
  height: auto;
  width: 100%;
  border: 0; }

a:active {
  -webkit-transition: none !important;
  transition: none !important; }

body {
  font: normal normal 11px/1.6 -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  text-align: left;
  color: #222; }

h1 {
  position: absolute;
  text-align: center;
  top: 48%;
  width: 80%;
  left: 50%;
  font-size: 10vw;
  line-height: 1;
  transform: translateY(-50%) translateX(-50%); }
  h1:focus {
    outline: 0; }

#controls {
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ededed;
  color: #000;
  box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.2);
  width: 22em;
  z-index: 100; }
  #controls input[type="range"],
  #controls input[type="checkbox"],
  #controls input[type="reset"],
  #controls select {
    cursor: pointer; }
  #controls input[type="text"] {
    cursor: text; }

.group {
  padding: 0 16px 2em; }
  .group > *:nth-child(1) {
    margin-top: 8px; }

h3, h2 {
  font-size: 11px;
  font-weight: normal;
  line-height: 1.4; }

h3 {
  background: transparent url(../images/open.png) no-repeat 13px 8px;
  margin: 0;
  padding: 5px 0 0.4545454545em 30px;
  border-top: 1px solid #ccc;
  color: #444;
  font-weight: 600;
  cursor: default; }

h3.closed {
  background-image: url(../images/closed.png); }

h2 {
  text-align: center;
  background: #bebdbe url(../images/h2bg.png) repeat-x 0 top;
  margin: 0;
  padding: 3px 0 2px 0;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5); }

input {
  font-size: 100%;
  font-family: inherit;
  margin-right: 0.545454545454545em;
  margin-left: 0; }
  input[type="range"] {
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    margin: 0 0 15px;
    height: 3px;
    background: #B3B3B3;
    position: relative; }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 100%;
    background: #fff;
    position: relative;
    overflow: visible;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    height: 15px;
    width: 15px; }
  input[type="range"]:focus {
    outline: 0; }
  input[type='range']::-webkit-slider-thumb:active {
    background: #eee; }

output {
  color: #999;
  float: right; }

select {
  width: 100%; }

input[type="text"] {
  width: 100%;
  padding: .4em .7em;
  margin: .5em 0; }

label {
  display: block; }
